<div class="container" *ngIf="isAdmin">
    <div>
        <button mat-raised-button class="navButton"   (click)="onClickSeller()" type="submit">
        SELLER</button>
      </div>
      <div>
        <button mat-raised-button class="navButton"   (click)="onClickOrder()" type="submit">
        ORDER</button>
      </div>
      <div>
        <button mat-raised-button class="navButton"   (click)="onClickReview()" type="submit">
        REVIEW</button>
      </div>
</div>
<div class="container" *ngIf="isSeller">
    <div>
        <button mat-raised-button class="navButton"   (click)="sellerBook()" type="submit">
        Books</button>
      </div>
      <div>
        <button mat-raised-button class="navButton"   (click)="orderStatus()" type="submit">
        Order</button>
      </div>
</div>