<div class="container" *ngIf="isAdmin">
  <div>
    <button mat-button class="navbutton" (click)="books()">
      
      <span class= "icon-label" >Books</span>
      </button>
    <button mat-button class="navbutton" (click)="sellerBooks()">
      
       <span class= "icon-label" >Seller</span>
       </button>

       <button mat-button class="navbutton">
        
          <span class="icon-label">Orders</span>
         </button>

         <!-- <button mat-button class="navbutton">
        
          <span class="icon-label">Reviews</span>
         </button> -->
</div>
</div>
<div class="container" *ngIf="isSeller">
    <div>
        <button mat-raised-button class="navButton"   (click)="addBook()" type="submit">
        ADD</button>
      </div>
      <div>
        <button mat-raised-button class="navButton"   (click)="approvedBook()" type="submit">
        APPROVED</button>
      </div>
      <div>
        <button mat-raised-button class="navButton"   (click)="rejectedBook()" type="submit">
        REJECTED</button>
      </div>
</div>
     