<div style="width: 100%;" style="height: 11%;">
    <app-toolbar flexLayout="row" (toggleEvent)="nameEventHander($event)">
    </app-toolbar>
    <!-- <app-toolbar flexLayout="row"></app-toolbar> -->
</div>
<div class="dashboard-content" style="height: 84%; margin-left: 0%; padding-left: 0%;">
    <div *ngIf="isSeller">
        <app-seller></app-seller>
    </div>
    <div *ngIf="isAdmin">   
      
    
        <app-adminunverifiedbooks></app-adminunverifiedbooks>
    </div>

    <div *ngIf="!isSeller && !isAdmin">
        <app-displaybook></app-displaybook>
        <router-outlet></router-outlet>
    </div>

</div>
<app-footer></app-footer>
