  .dashboard-content {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
  }

  .container {
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
      width: 100%;
  }

  .bottom {
      background-color: black;
      padding: 10px;
      font-family: Lato;
      padding-left: 90px;
      color: white;
      bottom: 0px;
      width: 100%;
  }
