<div class="container" >
  

    <div style="background-color: #A03037; width: 100%; margin-bottom: 10px;">
        <h2 style="color: white; text-align: center;padding-top: 10px;">Add Book</h2>
    </div>


    <form [formGroup]="bookForm" (ngSubmit)="(bookForm.valid)" noval>
      <!-- <div class="names"> -->
        <div>
          <mat-form-field style="margin-bottom: -1.25em;" appearance="outline">
            <mat-icon matPrefix style="margin-right: 20px;">book</mat-icon>
            <input
              id="bookName"
              matInput
              formControlName="bookName"
              placeholder="Enter Book Name"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="margin-bottom: -1.25em;" appearance="outline">
            <mat-icon matPrefix style="margin-right: 20px;">person</mat-icon>
            <input
              id="authorName"
              matInput
              formControlName="authorName"
              placeholder="Enter Author Name"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </div>
      <!-- </div> -->
      <!-- <div class="price-qty"> -->
        <div>
          <mat-form-field style="margin-bottom: -1.25em;" appearance="outline">
            <mat-icon matPrefix style="margin-right: 20px;">rupees</mat-icon>
            <input
              id="price"
              matInput
              formControlName="price"
              placeholder="Enter Book Price"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="margin-bottom: -1.25em;" appearance="outline">
            <mat-icon matPrefix style="margin-right: 20px;">pets</mat-icon>
            <input
              id="noOfBooks"
              matInput
              formControlName="noOfBooks"
              placeholder="Enter Book quantity"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </div>
      <!-- </div> -->
      <div class="book-details">
        <mat-form-field style="margin-bottom: -1.25em;" appearance="outline">
          <mat-icon matPrefix style="margin-right: 20px;">info</mat-icon>
          <input
            id="bookDetails"
            matInput
            formControlName="bookDetails"
            placeholder="Enter Book Details"
            autocomplete="off"
            required
          />
        </mat-form-field>
      </div>
     
      <div class="submit">
        <button mat-button type="submit" style=" outline: none;" (click)="onClickaddBook()">
          Add Book
        </button>
      </div>
    </form>
  </div>