<div role="combobox" flex="column" >
  <div>
    <div>
      <mat-card
        class="matcard2">
        <div style="margin-bottom: 8px; margin-left: 27px; margin-top:20px; font: Bold 18px/15px Lato;" *ngIf="reviewList.length>0">
          Reviews:
        </div>
        <div style="margin-bottom: 8px; margin-left: 27px; margin-top:20px; font: Bold 18px/15px Lato;" *ngIf="reviewList.length==0">
          Reviews: No reviews
        </div>
        <div *ngFor="let book of reviewList">
        <div style="margin-left: 27px;font: Bold 18px/15px Lato;">{{book.name}}</div>
        <div style="margin-left: 27px;">{{book.review}}</div>
        <br>
      </div>

      </mat-card>
    </div>
  </div>

</div>

